<html class="no-js"><head>
    <!-- BASICS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="robots" content="index,follow">
	<meta name="googlebot" content="index,follow,noarchive">
    <title>Trang chủ - McDonald's™ Vietnam</title>
    <meta name="description" content="Có mặt tại hơn 118 quốc gia với chuỗi 35,000 nhà hàng tại khắp các châu lục, mỗi ngày, McDonalds toàn cầu phục vụ hơn 70 triệu người tiêu dùng, không chỉ đảm bảo mang đến cho họ những bữa ăn ngon, an toàn vệ sinh.">
	<meta name="keywords" content="mcdonald hcm, mcdonald hà nội, mcdonald khuyến mãi,  mcdonald hanoi">
	<link rel="shortcut icon" href="public/images/favicon.ico" type="image/vnd.microsoft.icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="https://mcdonalds.vn/">
	<link rel="stylesheet" href="public/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/animate.css">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/responsive-style.css">
    <link rel="stylesheet" href="public/fonts/styles.css">
    <link rel="stylesheet" href="public/css/tstyles.css?v=1567321966">
    <link rel="stylesheet" href="public/css/tmobile.css?v=1567321966">
    <link rel="stylesheet" href="public/css/responsive-style.css">
    <link rel="stylesheet" type="text/css" href="public/css/owl.carousel.css">

    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script src="public/js/jquery-3.2.1.min.js"></script>
    <script src="public/js/common.js?v=1567321966"></script>
    <script src="public/js/owl.carousel.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
	    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-77007185-1"></script>
    <script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}
gtag('js',new Date());gtag('config','UA-77007185-1');</script>
	
</head>
<body>

    <!-- end header web + mobile -->	<!--/#slider-->
    <section class="showWeb slider">
			<div class="carousel-container">
				<div id="slider-full-page" class="owl-carousel owl-loaded owl-drag">																																									
				<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-7360px, 0px, 0px); transition: all 0.25s ease 0s; width: 12880px;"><div class="owl-item cloned" style="width: 1840px;"><div class="item">
							<a href="https://mcdonalds.talent.vn/?utm_source=McDonalds.vn-Home&amp;utm_campaign=HR" target="_blank"><img src="http://imgs.emdep.vn/Share/Image/2015/06/08/mon-ngon-moi-ngay-082533748.jpg" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item cloned" style="width: 1840px;"><div class="item">
							<img src="http://imgs.emdep.vn/Share/Image/2015/06/08/mon-ngon-moi-ngay-082533748.jpg" class="img-responsive" alt="">
						</div></div><div class="owl-item" style="width: 1840px;"><div class="item">
							<a href="http://imgs.emdep.vn/Share/Image/2015/06/08/mon-ngon-moi-ngay-082533748.jpg&amp;utm_campaign=1st" target="_blank"><img src="http://4.bp.blogspot.com/-0FTbsFH85Zw/UQOanLykj_I/AAAAAAAAHEw/Y-hUVad_V6g/s1600/food_banner.png" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item" style="width: 1840px;"><div class="item">
							<a href="http://imgs.emdep.vn/Share/Image/2015/06/08/mon-ngon-moi-ngay-082533748.jpg&amp;utm_campaign=HR" target="_blank"><img src="/uploads/2018/banner-slider/Banner_AllStaff_MainPage1.jpg" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item active" style="width: 1840px;"><div class="item">
							<img src="http://imgs.emdep.vn/Share/Image/2015/06/08/mon-ngon-moi-ngay-082533748.jpg" class="img-responsive" alt="">
						</div></div><div class="owl-item cloned" style="width: 1840px;"><div class="item">
							<a href="http://imgs.emdep.vn/Share/Image/2015/06/08/mon-ngon-moi-ngay-082533748.jpg&amp;utm_campaign=1st" target="_blank"><img src="http://4.bp.blogspot.com/-0FTbsFH85Zw/UQOanLykj_I/AAAAAAAAHEw/Y-hUVad_V6g/s1600/food_banner.png" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item cloned" style="width: 1840px;"><div class="item">
							<a href="http://imgs.emdep.vn/Share/Image/2015/06/08/mon-ngon-moi-ngay-082533748.jpg&amp;utm_campaign=HR" target="_blank"><img src="http://imgs.emdep.vn/Share/Image/2015/06/08/mon-ngon-moi-ngay-082533748.jpg" class="img-responsive" alt=""></a>
						</div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div></div>
			</div>
	</section>

	
			    <!--/#slider-->
    <!--section-content-pc-->
    <section id="section-content-pc">
        <div class="container clr-container">
            
            <div class="col-sm-12 col-md-12">
                <div class="row">
                    <div class="img-content-first">
                        <img width="100%" src="/uploads/2018/home/1170x300-GMALpx.jpg" class="img-pc" alt="">
                        <img width="100%" src="/uploads/2018/home/600x400-GMALpx.jpg" class="img-mobile" alt="">
                        <div class="text-content-first">
                            <p>Ưu đãi không giới hạn &amp; hơn thế nữa</p>
                            <h2 style="color: #fff;">BESTFOOD TỐT CHO MỌI NHÀ</h2>
                        </div>
                    </div>
                    <div class="lst-news-index">
                        <div class="col-md-6 col-sm-12 clear-padd-left">
															<a href="https://mcdonalds.vn/mccafe"><img width="100%" src="/uploads/2018/home/mccafe_desktop.jpg" class="img-pc" alt=""></a>
																						<a href="https://mcdonalds.vn/mccafe"><img width="100%" src="/uploads/2018/home/mccafe_mobile.jpg" class="img-mobile" alt=""></a>
							                            <div class="mc-cafe">BestFood</div>
                        </div>
                        <div class="col-md-6 col-sm-12 clear-padd-right">
                            <div class="clear-padd">
                                <div class="col-md-6 col-sm-6 clear-padd-left tmobile-padd-top mobile-padd-right tnone-padding-home">
									<a href="https://mcdonalds.vn/tim-hieu/lich-su-1.html">
										<img width="100%" src="/uploads/2018/home/home-stories.jpg" class="img-pc" alt="">
										<img width="100%" src="/uploads/2018/home/home-histories-mobile-md.png" class="img-mobile" alt="">
										<div class="descrip-index">CÂU CHUYỆN VỀ McDONALD'S</div>
									</a>
                                </div>
                                <div class="col-md-6 col-sm-6 clear-padd-right tmobile-padd-top mobile-padd-left tnone-padding-home">
									<a href="https://mcdonalds.talent.vn/?utm_source=McDonalds.vn-Home&amp;utm_medium=Session&amp;utm_campaign=HR">
										<img width="100%" src="/uploads/2018/home/hr-pc.jpg" class="img-pc" alt="">
										<img width="100%" src="/uploads/2018/home/hr-mobile.jpg" class="img-mobile" alt="">
										<div class="descrip-index tdescrip-index-2">TUYỂN DỤNG</div>
									</a>
                                </div>
                                <div class="col-md-12 col-sm-12 clear-padd last-list-index">
									<a href="http://mcdonalds.vn/thuc-don/chinh/banh-burgers">
										<img width="100%" src="/uploads/2018/home/home-banner-hamburger.jpg" class="img-pc timg-home-banner-last" alt="">
										<img width="100%" src="/uploads/2018/home/home-banner-hamburger.jpg" class="img-mobile" alt="">
										<div class="descrip-index-2">HAMBURGER <br> KHÁM PHÁ VỊ NGON LỪNG DANH</div>
									</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <!-- Start thumb -->
        <div class="tbox-slider tbox-banner-home-3" style="background:url(/uploads/2018/home/MDS_banner_1600x250.jpg) center center no-repeat">
            <div class="container tcontainer-text-block">
                <div class="tarticle-block">
                    <div class="row">
                        <div class="col-md-12  col-sm-12">
                            <div class="col-md-6">
                                <div class="tarticle tbanner-home">
                                    <p class="ttitle-banner-home-1" style="color: #fff;font-size: 48px;">McDELIVERY™</p>
                                    <p class="tsub-title-banner-home-1" style="color: #ffffff;font-size: 16px;">Dịch vụ giao hàng của McDonald's. Đặt hàng đơn giản, giao hàng nhanh chóng.</p>
                                    <a href="https://mcdelivery.vn" class="torder-now-index" style="background-color: #ffffff;color: #bd0017;font-size: 16px;" target="_blank">ĐẶT HÀNG NGAY</a>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
        <!-- End thumb -->
    </section>
	<!--end section-content-pc-->
    <section class="search-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
											<div class="col-md-3 logo-search-footer">
<div class="tbox-daily">
<p>Nhấp vào đây để phản hồi, đánh giá dịch vụ và nhận 1 phần quà từ McDonald’s</p>
</div>

<div class="tbox-hear"><a href="https://mcdfeedback.co/vn/" target="_blank">Chúng tôi lắng nghe bạn</a></div>
</div>

<div class="col-md-8 col-md-offset-1 area-search-footer">
<p>Nhập email<br>
để nhận thông tin khuyến mãi</p>

<form id="frmSubscribe">
<div class="input-group"><input class="form-control input-search-footer" name="userNameSubscribe" placeholder="" type="text">
<div class="input-group-btn"><button class="btn btn-default btn-search-footer" type="submit">Gửi</button></div>
</div>
</form>

<div id="mail-status">&nbsp;</div>

<div id="send-message">&nbsp;</div>

<p class="des-search-footer">Bằng việc nhấn gửi, bạn đã đồng ý với các Điều kiện &amp; Điều khoản của chúng tôi.</p>
</div>
					                </div>
            </div>
        </div>
		<script>$(document).ready(function(e){$("#frmSubscribe").on('submit',(function(e){e.preventDefault();$('#send-message').hide();$("#mail-status").hide();$.ajax({url:"subscribe.php",type:"POST",dataType:'json',data:{"emailSubscribe":$('input[name="userNameSubscribe"]').val()},success:function(response){$("#mail-status").show();if(response.type=="error"){$('#send-message').show();$("#mail-status").attr("class","error");}else if(response.type=="message"){$('#send-message').hide();$("#mail-status").attr("class","success");}
$("#mail-status").html(response.text);},error:function(){}});}));});</script>
    </section>
	
	<section class="tfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="line"></div>
                    <div class="col-md-3 col-sm-4">
                        <ul>
                            <li class="parent">Tìm hiểu</li>
															<li><a href="tim-hieu/lich-su-1.html">Lịch sử McDonald's</a></li>
                            								<li><a href="gioi-thieu-mcdonalds">Giới thiệu McDonald's Việt Nam</a></li>
                            								<li><a href="tim-hieu/xuat-xu-3.html">Xuất xứ</a></li>
                            								<li><a href="tim-hieu/nha-cung-cap-4.html">Nhà cung cấp</a></li>
                            								<li><a href="tim-hieu/dich-vu-5.html">Dịch vụ</a></li>
                            								<li><a href="tim-hieu/an-toan-thuc-pham-6.html">An toàn thực phẩm</a></li>
                                                    </ul>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <ul>
                            <li class="parent">Cơ hội nghề nghiệp</li>
                            								<li><a href="https://mcdonalds.talent.vn/?utm_source=Footer&amp;utm_campaign=McDonalds.vn" target="_blank">Thông tin tuyển dụng</a></li>
                            								<li><a href="https://goo.gl/tHmVUm" target="_blank">Khu vực TP.HCM</a></li>
                            								<li><a href="https://goo.gl/2Rx5FJ" target="_blank">Khu vực Hà Nội</a></li>
                                                    </ul>
                        <ul class="showWap">
                            <li class="parent">Chính sách</li>
                            								<li><a href="thong-tin/faqs-2.html">Các câu hỏi thường gặp</a></li>
                            								<li><a href="thong-tin/term-conditions-1.html">Điều khoản và Điều kiện</a></li>
                            								<li><a href="thong-tin/web-privacy-policies-3.html">Chính sách về quyền riêng tư</a></li>
                                                    </ul>
                    </div>
                    <div class="showWeb col-md-3">
                        <ul>
                            <li class="parent">Chính sách</li>
															<li><a href="thong-tin/faqs-2.html">Các câu hỏi thường gặp</a></li>
                            								<li><a href="thong-tin/term-conditions-1.html">Điều khoản và Điều kiện</a></li>
                            								<li><a href="thong-tin/web-privacy-policies-3.html">Chính sách về quyền riêng tư</a></li>
                                                        <li class="parent">Ngôn ngữ</li>
                            <li>
                                 <a href="en/" style="width: 32px; margin-right:5px;"><img class="flags" src="public/images/icon/united-states.png" alt=""></a>
                                <a href="vi/" style="width: 32px;"><img class="flags" src="public/images/icon/vietnam.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <ul class="showWap">
                            <li class="parent">Ngôn ngữ</li>
                            <li>
                                 <a href="en/" style="width: 32px; margin-right:5px;"><img class="flags" src="public/images/icon/united-states.png" alt=""></a>
                                <a href="vi/" style="width: 32px;"><img class="flags" src="public/images/icon/vietnam.png" alt=""></a>
                            </li>
                        </ul>
                        <ul>
                            <li class="parent">Liên hệ với chúng tôi</li>
                            								<li><a href="lien-he">Liên hệ</a></li>
                            								<li><a href="https://mcdfeedback.co/vn/SiteSearchGMAL.aspx?data1=&amp;data2=&amp;data3=&amp;data4=%27" target="_blank">Phản hồi chất lượng dịch vụ</a></li>
                                                        								<a href="https://www.facebook.com/McDonaldsVN/" target="_blank"><img class="social" src="/uploads/2018/icon/facebook.png" alt=""></a>
														                                <a href="https://www.instagram.com/mcdonaldsvn/" target="_blank"><img class="social" src="/uploads/2018/icon/instagram.png" alt=""></a>
														                                <a href="https://www.youtube.com/user/McDonaldsVN/featured" target="_blank"><img class="social" src="/uploads/2018/icon/youtube.png" alt=""></a>
                                                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row"><p>©2017-2018 McDonald's. All Rights Reserved.</p></div>
            </div>
        </div>
    </section>


</body></html>