<html class="no-js"><head>
    <!-- BASICS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="robots" content="index,follow">
	<meta name="googlebot" content="index,follow,noarchive">
    <title>Trang chủ - McDonald's™ Vietnam</title>
    <meta name="description" content="Có mặt tại hơn 118 quốc gia với chuỗi 35,000 nhà hàng tại khắp các châu lục, mỗi ngày, McDonalds toàn cầu phục vụ hơn 70 triệu người tiêu dùng, không chỉ đảm bảo mang đến cho họ những bữa ăn ngon, an toàn vệ sinh.">
	<meta name="keywords" content="mcdonald hcm, mcdonald hà nội, mcdonald khuyến mãi,  mcdonald hanoi">
	<link rel="shortcut icon" href="public/images/favicon.ico" type="image/vnd.microsoft.icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="https://mcdonalds.vn/">
	<link rel="stylesheet" href="public/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/animate.css">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/responsive-style.css">
    <link rel="stylesheet" href="public/fonts/styles.css">
    <link rel="stylesheet" href="public/css/tstyles.css?v=1567321966">
    <link rel="stylesheet" href="public/css/tmobile.css?v=1567321966">
    <link rel="stylesheet" href="public/css/responsive-style.css">
    <link rel="stylesheet" type="text/css" href="public/css/owl.carousel.css">

    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script src="public/js/jquery-3.2.1.min.js"></script>
    <script src="public/js/common.js?v=1567321966"></script>
    <script src="public/js/owl.carousel.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
	    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-77007185-1"></script>
    <script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}
gtag('js',new Date());gtag('config','UA-77007185-1');</script>
	
</head>
<body>
<div class="tbox-slider tbox-banner-home-3" style="background:url(/uploads/2018/home/MDS_banner_1600x250.jpg) center center no-repeat">
    <div class="container tcontainer-text-block">
        <div class="tarticle-block">
            <div class="row">
                <div class="col-md-12  col-sm-12">
                    <div class="col-md-6">
                        <div class="tarticle tbanner-home">
                            <p class="ttitle-banner-home-1" style="color: #fff;font-size: 48px;">BestFood™</p>
                            <p class="tsub-title-banner-home-1" style="color: #ffffff;font-size: 16px;">Dịch vụ giao hàng của BestFood. Đặt hàng đơn giản, nhanh chóng và tiện lợi.</p>
                            <a href="#" class="torder-now-index" style="background-color: #ffffff;color: #bd0017;font-size: 16px;" target="_blank">ĐẶT HÀNG NGAY</a>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
        <!-- End thumb -->
    </section>
	<!--end section-content-pc-->
    <section class="search-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
				<div class="col-md-3 logo-search-footer">
<div class="tbox-daily">
<p>Hãy giúp chúng tôi cải thiện bằng cách phản hồi ý kiến:</p>
</div>

<div class="tbox-hear"><a href="https://mcdfeedback.co/vn/" target="_blank">Chúng tôi sẵn sàng nghe bạn</a></div>
</div>

<div class="col-md-8 col-md-offset-1 area-search-footer">
<p>Nhập email<br>
để nhận thông tin khuyến mãi</p>

<form id="frmSubscribe">
<div class="input-group"><input class="form-control input-search-footer" name="userNameSubscribe" placeholder="" type="text">
<div class="input-group-btn"><button class="btn btn-default btn-search-footer" type="submit">Gửi</button></div>
</div>
</form>

<div id="mail-status">&nbsp;</div>

<div id="send-message">&nbsp;</div>

<p class="des-search-footer">Bằng việc nhấn gửi, bạn đã đồng ý với các Điều kiện &amp; Điều khoản của chúng tôi.</p>
</div>
					                </div>
            </div>
        </div>
		<script>$(document).ready(function(e){$("#frmSubscribe").on('submit',(function(e){e.preventDefault();$('#send-message').hide();$("#mail-status").hide();$.ajax({url:"subscribe.php",type:"POST",dataType:'json',data:{"emailSubscribe":$('input[name="userNameSubscribe"]').val()},success:function(response){$("#mail-status").show();if(response.type=="error"){$('#send-message').show();$("#mail-status").attr("class","error");}else if(response.type=="message"){$('#send-message').hide();$("#mail-status").attr("class","success");}
$("#mail-status").html(response.text);},error:function(){}});}));});</script>
    </section>
	
	<section class="tfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="line"></div>
                    <div class="col-md-3 col-sm-4">
                        <ul>
                            <li class="parent">Tìm hiểu</li>
                            								<li><a href="#">Giới thiệu BestFood Việt Nam</a></li>
                            								<li><a href="#">Xuất xứ</a></li>
                            								<li><a href="#">Nhà cung cấp</a></li>
                            								<li><a href="#">Dịch vụ</a></li>
                            								<li><a href="#">An toàn thực phẩm</a></li>
                                                    </ul>
                    </div>
                    <div class="col-md-3 col-sm-4">

                        <ul class="showWap">
                            <li class="parent">Chính sách</li>
                            								<li><a href="thong-tin/faqs-2.html">Các câu hỏi thường gặp</a></li>
                            								<li><a href="thong-tin/term-conditions-1.html">Điều khoản và Điều kiện</a></li>
                            								<li><a href="thong-tin/web-privacy-policies-3.html">Chính sách về quyền riêng tư</a></li>
                                                    </ul>
                    </div>
                    <div class="showWeb col-md-3">
                        <ul>
                            <li class="parent">Chính sách</li>
															<li><a href="thong-tin/faqs-2.html">Các câu hỏi thường gặp</a></li>
                            								<li><a href="thong-tin/term-conditions-1.html">Điều khoản và Điều kiện</a></li>
                            								<li><a href="thong-tin/web-privacy-policies-3.html">Chính sách về quyền riêng tư</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <ul class="showWap">
                            <li class="parent">Ngôn ngữ</li>
                            <li>
                                 <a href="en/" style="width: 32px; margin-right:5px;"><img class="flags" src="public/images/icon/united-states.png" alt=""></a>
                                <a href="vi/" style="width: 32px;"><img class="flags" src="public/images/icon/vietnam.png" alt=""></a>
                            </li>
                        </ul>
                        <ul>
                            <li class="parent">Liên hệ với chúng tôi</li>
                            								<li><a href="lien-he">Liên hệ</a></li>
                            								<li><a href="https://mcdfeedback.co/vn/SiteSearchGMAL.aspx?data1=&amp;data2=&amp;data3=&amp;data4=%27" target="_blank">Phản hồi chất lượng dịch vụ</a></li>
                                                        								<a href="https://www.facebook.com/McDonaldsVN/" target="_blank"><img class="social" src="/uploads/2018/icon/facebook.png" alt=""></a>
														                                <a href="https://www.instagram.com/mcdonaldsvn/" target="_blank"><img class="social" src="/uploads/2018/icon/instagram.png" alt=""></a>
														                                <a href="https://www.youtube.com/user/McDonaldsVN/featured" target="_blank"><img class="social" src="/uploads/2018/icon/youtube.png" alt=""></a>
                                                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body></html>