<!DOCTYPE html>
<html>
    <title>Food store</title>
    <% @products.each do |product| %>
        <div class="entry">
          <div class = "images">
            <%= image_tag(product.image_url, :size => "240x220") %>      
          </div>

          <div class="price_line">
            <h3><%= product.name %></h3> 
              <span class="price"><%= product.price %></span>
              <%= button_to '+', line_items_path(:product_id => product) %>
          </div>

          
        </div>
    <% end %>
</html>